<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Acerca de mí</title>
	<link rel="shortcut icon" href="../assets/img/logo_filolearning.png">
	<!-- Linkear fonts de Google -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=Libre+Baskerville&family=Roboto:wght@300&display=swap" rel="stylesheet">
	<!-- Linkear archivo externo CSS -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
   <div class="contenedor__padre"> 	
	<!-- Inicio encabezado -->
    <header>
	    <!-- Inicio nav -->
	    <nav>
	      <!-- Logo -->
	      <div class="logo__filolearning">
		    <a href="../index.html" class="logo__anchor">
		  	  <img src="../assets/img/logo_filolearning.png" alt="logo" class="logo">
		  	  <p class="tipografiaLogo">Filolearning</p>
		    </a>
	      </div>
	      <!-- Cierre logo -->
	      <!-- Lista con viñetas -->
	      <ul class="header__nav">
	    	<li class="nav__item"><a href="../index.html" class="nav__anchor">inicio</a></li>
	    	<li class="nav__item"><a href="#" class="nav__anchor">acerca de mí</a></li>
	    	<li class="nav__item"><a href="servicios.html" class="nav__anchor">servicios</a></li>
	    	<li class="nav__item"><a href="asignaturas.html" class="nav__anchor">asignaturas</a></li>
	    	<li class="nav__item"><a href="contacto.html" class="nav__anchor">contacto</a></li>
	      </ul>
	      <!-- Fin lista -->
	    </nav>
	    <!-- Cierre nav -->
    </header>
	<!-- Fin encabezado -->
	<!-- Inicio contenido -->
    <main class="mainPadre">
    	<!-- Imagen de presentación -->
        <div class="main__presentacion">	
     	   <h1 class="centrar">Conóceme</h1>
     	   <img src="../assets/img/miimagen.png" alt="imagen Federico" class="main__imagen">
        </div>
        <!-- Fin imagen -->
        <!-- Apartados -->
        <div class="main__apartados1">
            <h2 class="edicionEncabezados">¿Quién soy?</h2>
            <p class="edicionParrafos">
        	  Me llamo Federico y soy estudiante de Ingeniería Química. Una de las razones que me llevaron a estudiar esta carrera es mi gusto hacia las ciencias exactas, en especial la matemática, una asignatura no muy querida por las personas. 
        	  Soy una persona que le encanta aprender cosas nuevas constantemente y de distintos ámbitos, ya sea cultural, tecnológico, social, ambiental, idiomas, entre otros.
            </p>
        </div>
        <div class="main__apartados2">
            <h2 class="edicionEncabezados">¿Como nació este sitio?</h2>
            <p class="edicionParrafos">
           	  Al finalizar mis estudios secundarios y al momento de iniciar la universidad decidí comenzar a dar clases particulares con el fin de poder empezar a ganar un poco de dinero y ayudar a otros a reforzar contenidos en asignaturas que estos requieran.
              Me gusta que mis alumnos piensen las inquietudes que me presentan antes que estar yo hablando una hora entera y que todo termine siendo un monólogo. De esa manera, pude notar que a varias personas les agradaba mi forma de explicar y me recomendaban a otras personas.
              Al tener mayor alcance decidí crear este sitio para poder ampliar mis servicios a una mayor cantidad de personas.
            </p>
        </div>
        <div class="main__apartados3">
        	<h2 class="edicionEncabezados">¡Estoy para ayudarte!</h2>
        	<p class="edicionParrafos">
        	  En la primaria, secundaria e incluso en la universidad siempre me gustó darle una mano a mis compañeros si la solicitaban, e incluso me gustaba pedir ayuda yo mismo, pues todos vamos a necesitar ayuda de alguien en varios momentos de nuestra vida.
        	  El aprendizaje no necesariamente es un proceso individual en su totalidad, siempre podemos complementar aquello que estemos estudiando con otras personas para discutir ideas, despejar dudas, entre otras cuestiones. Es normal sentirse estancados cuando no entendemos algo y generalmente tendemos a frustrarnos. No obstante, debemos enfocarnos en transformar esa frustración en motivación para ser más constantes y dedicados con aquello que nos cuesta.
        	  Mi trabajo no se basa solamente en guiarte en los temas de una asignatura que te pueda parecer un obstáculo, sino también a darte ánimos a esforzarte por entender lo que estudias, que puedas realizar preguntas, argumentar tus ideas y alcanzar una comprensión más profunda de aquellas dificultades que puedas estar atravesando actualmente en tu vida académica. 
        	</p>
        </div>
        <!-- Fin apartados -->
        <!-- Frase de cierre -->
        <div class="main__frase">
        	<h3 class="edicionFrase">¡Aprender requiere de constancia y dedicación, no dudes en contactarme e intentar!</h3>
        </div>
        <!-- Fin frase -->
    </main>
	<!-- Cierre contenido -->
	<!-- Inicio footer -->
    <footer>
        <!-- Logo -->
        <div class="logo__filolearning">
    	    <a href="../index.html" class="logo__anchor">
    	      <img src="../assets/img/logo_filolearning.png" alt="logo" class="logo">
    	      <p class="tipografiaLogo">Filolearning</p>
            </a>
        </div>
        <!-- Cierre logo -->
        <!-- Contacto -->
        <div class="contacto">
    	    <h3 class="contacto__texto">Contacto</h3>
    	    <a href="https://wa.me/+541122857995" target="_blank" class="contacto__whatsapp">
    	      <img src="../assets/img/whatsapp-logo.png" alt="logo whatsapp" class="whatsappLogo">
    	      <p class="whatsapp">WhatsApp</p>   	 
    	    </a>  
    	    <a href="mailto:ramirezsanabria.federico@gmail.com" target="_blank" class="contacto__mail">
    		  <img src="../assets/img/envelope-logo.png" alt="logo email" class="mailLogo">
    		   <p class="mailDireccion">ramirezsanabria.federico@gmail.com</p>
    	    </a>	
        </div>
        <!-- Fin contacto -->
        <!-- Redes sociales -->
        <div class="redes">
        	<div>
    	         <h3 class="redes__texto">O también podes comunicarte conmigo por:</h3>
    	    </div>
    	    <div>
    	        <a href="https://www.facebook.com/federico.ramirez.7731" target="_blank">
    	           <img src="../assets/img/facebook-logo.png" alt="logo face" class="redes__facebook">
                </a>
                <a href="https://www.instagram.com/fede.ramirez01/" target="_blank">
    	           <img src="../assets/img/instagram-logo.png" alt="logo insta" class="redes__instagram">   
    	        </a>
    	        <a href="https://www.linkedin.com/in/federico-ramirez-sanabria/" target="_blank">
                   <img src="../assets/img/linkedin-logo.png" alt="logo_linkedin" class="redes__linkedin">
                </a>
            </div>  
        </div>
        <!-- Fin redes sociales -->
        <!-- Copyright -->
        <div class="copyright">
            <p class="copyright__texto">
        	   © 2022 filolearning
        	     all rights reserved
            </p>
        </div>
        <!-- Fin copyright -->
    </footer>
	<!-- Cierre footer -->
   </div> 	
</body>
</html>